body{
  background-color: lightsteelblue;

}

#keepScore{
  margin-top: 50px;
}

#playerStats {
 margin-top: 125px;
}

#grant {
  margin-top: 50px;
  margin-right: 400px;
  display: inline-block;
}

button {
  background-color: teal;
  color: rgba(190, 217, 249, 1);
  height: 50px;
  width: 150px;
  font-size: 120%;
  text-align: center;
  margin-top: 200px;
}

div {
  display: block;
  text-align: center;
}

#first_page {
  display: contents;
}

#second_page {
  display: none;
}

progress {
  background-color: blue;
}

#scoring {
  text-align: center;
  color: deeppink;
}
